# Compiler files
cache/
out/
standardJsonInput/
*.log
*.iml

# Ignores development broadcast logs
broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.vscode/
localTest/

.github/
.deps
.history/

# old version source code
oldVersion/
*/artifacts
*/*/artifacts
